rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {

    match /scenarios/{scenario} {
      allow read: if true;
      allow update, delete: if resource.data.uid == request.auth.uid;
      allow create: if request.resource.data.uid == request.auth.uid;
    }

    match /scenarios/{scenario}/responses/{response} {
      allow read: if true;
      allow update, delete: if response == request.auth.uid;
      allow create: if response == request.auth.uid;
    }

  }
}
